@model Biblio.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Inscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">📝 Inscription</h1>

<form method="post" asp-action="Register">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">S'inscrire</button>
    <div class="text-danger mt-2">
        @Html.ValidationSummary(false)
    </div>
</form>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}
